@using Microsoft.AspNetCore.Identity
@using foodbyte.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "DELETE USER";
}


<table class="table table-sm">
        @foreach (ApplicationUser user in Model)
        {
            <tr>
                <td class="Nickname">
                    @user.Nickname
                </td>
                <td>
                    @user.Id
                </td>       
            </tr>
        
        
            <form asp-action="ManageUsers" asp-route-id="@user.Id" method="post">
                <button type="submit" class="btn btn-sm btn-danger">
                    Delete
                </button>
            </form>
            
        }
</table>