@using Microsoft.AspNetCore.Identity
@using foodbyte.Data
@using foodbyte.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

}

<h2>manage users</h2>

<table class="table">
    <thead>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    </thead>
    
        <tbody>
        @foreach (var item in Model)
        {
           
            <tr>
                <td class="Nickname">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
            
            <td class="DeleteUser">
                <a asp-action="ManageUsers" asp-route-id="@item.Id">Delete</a>
            </td>  
        }
        </tbody>
</table>