# ASP.NET and Rider IDE specific ignore
.idea/
.vscode/
*.suo
*.user
*.sln.iml
bin/
obj/

# User-specific files
*.userosscache

# NuGet Packages
*.nupkg

# Visual Studio files
*.vscode
.vscode-test/
.vs/
# Rider files
.resharper
_ReSharper/
_ReSharper.Caches/
_ReSharper.Plugin/